.home-container{
    height: 100vh;
    background-color: #E3E829;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.the-button{
    font-size: 18px;
    padding: 2vh 2vw;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: #125EAA;
    cursor: pointer;
    font-weight: bold;
}

.the-button:hover{
    background-color: #0d3e6e;
}

@media screen and (min-width: 320px) and (max-width: 414px) and (orientation: portrait) {

    .yellow-logo{
        height: 20vh;
    }
    .the-button{
        padding: 2vh 5vw;
    }
}